*{
    box-sizing: border-box;
}
.product-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.producto{
    border: solid 1px black;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}


.box{
    width: 200px;
    height: 200px;
    background-color: black;
}